#brand-select {
    display: flex;
}

#search {
    display: flex;
}

.navbar-brand, .fa {
    cursor: pointer;
}

.playlist {
    width: 90%;
    margin: 20px auto;
}

.tracks {
    width: 50%;
    margin: 20px auto;
}

.track {
    display: flex;
    margin: 10px 25px;
}

.track>div {
    margin-left: 15px;
}

.track img {
    width: 40%;
    height: 40%;
}

.fa-spinner {
    font-size: 75px;
    color: rgb(51, 126, 224);
    text-align: center;
}

.spiner {
    width: max-content;
    margin: 100px auto;
}